/* mainblack:#222
 maingreen:#82b340 
 mainwhite: #fff
 maingray:#ececec */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #222;
  font-family: 'Open Sans', 'sens-serif';
}
